body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 78vh;
    background-image: linear-gradient(to bottom, rgba(255, 203, 203, 0.7725490196), rgba(255, 91, 203, 0.7568627451));
    font-family: Georgia;
    color: black;
    font-size: 20px;
}

header {
    color: #ffcbcb;
    font-size: 30px;
    font-weight: 600;
}

.wrapper {
    background-color: white;
    margin: 200px auto;
    padding: 50px;
    max-width: 540px;
    border-radius: 50px;
}

.wrapper button {
    background-color: #ffcbcb;
    border: none;
    font-size: 20px;
    padding: 5px;
}

input {
    border: none;
    border-bottom: 1px solid darkgray;
    font-size: 20px;
    color: gray;
    padding: 5px;
}

.task-amount {
    display: grid;
    grid-template-columns: 273px 100px;
    gap: 20px;
}

.todo-input,
.js-todo-list {
    display: grid;
    grid-template-columns: 273px 172px 60px;
    gap: 20px;
    margin: 30px 0;
    align-items: stretch;
}

.js-todo-list, footer {
    margin-top: 40px;
}

.js-todo-list button:hover {
    background-color: #ff9de0;
}

button {
    cursor: pointer;
}